<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Crianças
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  @for (child of children; track child.id) {

    <ion-card
      button
      (click)="openChild(child.id)">

      <ion-card-header>

        <ion-card-title>
          {{ child.name }}
          <p>
      Progresso Vacinal:
    </p>
    <progress
  [value]="getCompletionPercentage(child.id)"
  max="100">
</progress>

<p>
  {{ getCompletionPercentage(child.id) }}%
</p>
        </ion-card-title>

      </ion-card-header>

      <ion-card-content>

        Nascimento:
        {{ child.birthDate }}

      </ion-card-content>

       <ion-card-content>

       <p>
  ✔ Aplicadas:
  {{ getAppliedCount(child.id) }}
</p>

<p>
  ⏳ Pendentes:
  {{ getPendingCount(child.id) }}
</p>

<p>
  ⚠️ Atrasadas:
  {{ getOverdueCount(child.id) }}
</p>

<p>
  Status:
  <strong>
    {{ getOverallStatus(child.id) }}
  </strong>
</p>

      </ion-card-content>

    </ion-card>

  }

</ion-content>
