<ion-content class="ion-padding">

  <h1>Campanhas de Vacinação</h1>

  @for(c of campaigns; track c.id){

    <ion-card [ngClass]="{ active: isActive(c) }">

      <ion-card-header>

        <ion-card-title>
          {{ c.title }}
        </ion-card-title>

      </ion-card-header>

      <ion-card-content>

        <p>{{ c.description }}</p>

        <p><strong>Público:</strong> {{ c.targetAudience }}</p>

        <p>
          📅 {{ c.startDate }} até {{ c.endDate }}
        </p>

        <p>
          Status:
          <strong>
            {{ isActive(c) ? 'Ativa' : 'Inativa' }}
          </strong>
        </p>

      </ion-card-content>

    </ion-card>

  }

</ion-content>
