// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {

  --ion-color-primary: #ABC270;

  --ion-color-secondary: #FEC868;

  --ion-color-tertiary: #FDA769;

  --ion-color-dark: #473C33;

}
