// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {

  --ion-color-primary: #ABC270;
  --ion-color-primary-rgb: 171,194,112;
  --ion-color-primary-contrast: #ffffff;

  --ion-color-secondary: #FEC868;
  --ion-color-secondary-rgb: 254,200,104;

  --ion-color-warning: #FDA769;
  --ion-color-warning-rgb: 253,167,105;

  --ion-color-dark-custom: #473C33;

  --app-background: #f8f8f8;
}
