<ion-content class="ion-padding">

  <h1>Vacina Kids</h1>

  <p>
    Acompanhe a vacinação infantil.
  </p>

  <ion-card routerLink="/children">
  <ion-card-content>
    👶 Crianças
    <h2>{{ childrenCount }}</h2>
  </ion-card-content>
</ion-card>

  <ion-card >
  <ion-card-content>
    💉 Aplicadas
    <h2>{{ appliedVaccines }}</h2>
  </ion-card-content>
</ion-card>

  <ion-card>

    <ion-card-content>

      ⚠️ Pendentes

      <h2>
        {{ pendingVaccines }}
      </h2>

    </ion-card-content>

  </ion-card>

  <ion-card routerLink="/campaigns">

    <ion-card-content>

      📢 Campanhas

      <h2>
        {{ campaignsCount }}
      </h2>

    </ion-card-content>

  </ion-card>

</ion-content>
