h1 {
  color: #473C33;
  font-weight: 700;
}

.dashboard-card {
  border-radius: 16px;
  margin-bottom: 16px;
}

.children-card {
  background: #ABC270;
  color: white;
}

.applied-card {
  background: #FEC868;
  color: #473C33;
}

.pending-card {
  background: #FDA769;
  color: white;
}

.campaign-card {
  background: #473C33;
  color: white;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}
