<ion-header>

  <ion-toolbar color="primary">

    <ion-title>
      Vacina Kids
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <ion-card routerLink="/children">

    <ion-card-header>

      <ion-card-title>
        👶 Crianças
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>

      Gerenciar crianças

    </ion-card-content>

  </ion-card>

  <ion-card routerLink="/campaigns">

    <ion-card-header>

      <ion-card-title>
        📢 Campanhas
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>

      Campanhas ativas

    </ion-card-content>

  </ion-card>

</ion-content>
