<ion-content class="dashboard-content">

  <div class="header">

    <h1>Vacina Kids</h1>

    <p>
      Acompanhe a vacinação infantil
    </p>

  </div>

  <ion-card
    class="card-children"
    routerLink="/children">

    <ion-card-content>

      <h3>👶 Crianças</h3>

      <h1>{{ childrenCount }}</h1>

    </ion-card-content>

  </ion-card>

  <ion-card class="card-applied">

    <ion-card-content>

      <h3>💉 Aplicadas</h3>

      <h1>{{ appliedVaccines }}</h1>

    </ion-card-content>

  </ion-card>

  <ion-card class="card-pending">

    <ion-card-content>

      <h3>⏳ Pendentes</h3>

      <h1>{{ pendingVaccines }}</h1>

    </ion-card-content>

  </ion-card>

  <ion-card
    class="card-campaigns"
    routerLink="/campaigns">

    <ion-card-content>

      <h3>📢 Campanhas</h3>

      <h1>{{ campaignsCount }}</h1>

    </ion-card-content>

  </ion-card>

</ion-content>
